body {
  font-family: 'Roboto' !important;
  color: lightblue !important;
  height: 100%;
}

.hacker-text {
  text-align: center;
  margin-top: 5%;
  position: absolute;
  width: 80%;
}

.container {
  width: 80%;
}
h2{
    font-size: 50px;
}

label {
    color: lightseagreen;
    font-size: x-large;
    font-size: 50px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.neon {
  color: #fff;
  text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}

#randomDiv {
  display: none;
  width: max-content;
}

#randomCityInput {
  /* background-color: grey; */
  color: black;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightseagreen !important;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightseagreen !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: lightseagreen !important;
}

sup {
  font-size: 30px;
  top: -27px;
}

#allFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-top: 20%;
}

/* #allFlex div {
  margin-right: 5%;
} */